
@{
    ViewBag.Title = "ShowCart";
}

<h2>Cart</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.id</td>
            <td>@p.name</td>
            <td>@p.price</td>
            <td>@p.qty</td>
        </tr>
    }



</table>


<a href="/Product/ConfirmPurChase" class="btn btn-info">Confirm Purchase</a>



